<div class="d-flex justify-content-center align-items-center p-5" style="height: 90vh;">
    <a href="@Url.Action("Check", "Home")" class="btn btn-primary">
        <h1>Start Listening</h1>
    </a>
</div>